input{
    margin-block-start: 10px;
}
.f1{
    background-color: rgb(87, 87, 211);
}
.f2{
    background-color: rgb(156, 41, 122)
}

.f3{
    background-color: rgb(180, 44, 44)
}
.buttonJachete{
    background-color: rgb(196, 190, 190);
   
}
